[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.7"
django = "==3.1.14"
pytz = "==2020.1"
sqlparse = "==0.3.1"

[dev-packages]

[requires]
python_version = "3.12"
